#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.number-of-input {
  width: 100%;
  padding: 10px;
}

.generate-number {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.num-cards {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.num-card {
  width: 60px;
  text-align: center;
  margin-left: 10px;
  background-color: rgb(69, 199, 69);
  margin-top: 10px;
}

.options {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.options button {
  padding: 10px;
  background-color: rgb(4, 148, 4);
  margin-left: 30px;
}